{% extends 'base.html' %}
{% load static %}


{% block content %}


{% comment %}  {% endcomment %}

{% comment %} service category {% endcomment %}
<section class="pb-5 mt-5 ">
      <div class=" pb-4">
        <header class="text-center mb-5">
          <h2>About us</h2>
          <p></p>
        </header>

        <div class="row justify-content-center " style= 'height:;'>
          <div class="card bg-dark text-white">
            <img class=' w-100 py-5' src="{% static 'travelsite/img/aboutus.png' %}" class="card-img" alt="...">
            <div class="card-img-overlay">
                {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                <p class="card-text"></p>
                {% comment %} <p class="card-text">Last updated 3 mins ago</p> {% endcomment %}
            </div>
           </div>

          
          
          
        </div>
      </div>
    </section>

    {% comment %} featured jobs {% endcomment %}

    <section class="pt-5">
      
    </section>
    <!-- Divider Section -->
    <section class="py-5">
      <div class="container py-4">
        <!-- Home listing -->
        <div class="row align-items-stretch bg-full-left">
          <div class="col-lg-6 pr-lg-0 order-2 order-lg-1">
            <div class="h-100 bg-light d-flex align-items-center">
              <div class="py-5 pr-4 pl-3 pl-lg-0">
                <p class="text-primary font-weight-bold small text-uppercase mb-2">About</p>
                <h3 class="h4"> <a class="text-reset" href="post.html">Presic Tour and Recruitment services</a></h3>
                <p class="text-muted text-small mb-3">  </p>
                <p class="text-muted text-small mb-3"> </p>
                <ul class="list-inline small text-uppercase mb-0">
                  <li class="list-inline-item align-middle"><img class="rounded-circle shadow-sm" src="img/person-1.jpg" alt="" width="30"/></li>
                  <li class="list-inline-item mr-0 text-gray align-middle"> </li>
                  <li class="list-inline-item align-middle mr-0"><a class="font-weight-bold reset-anchor" href="#"></a></li>
                  <li class="list-inline-item text-gray align-middle mr-0">|</li>
                  <li class="list-inline-item text-gray align-middle">Jan, 2021</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 pl-lg-0 order-1 order-lg-2"><a class="d-block h-100 bg-center bg-cover" href="#" style="background: url({% static 'travelsite/img/travel-home-divider.jpg' %})"></a></div>
        </div>
      </div>
    </section>
    <!-- Instagram section-->
   
{% endblock %}