
{% extends 'base.html' %}
{% load static %}



{% block content %}


<section clas="hero bg-center bg-cover" style="background: url({% static 'travelsite/img/myherob-banner.png' %})">
      <div class="dark-overlay py-5">
        <div class="overlay-content">
          <div class="container py-5 text-white text-center">
            <h1></h1>
            <p></p>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog listing -->
    <section class="pt-5">
      <div class="container pt-5">

      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                
                <li class="breadcrumb-item active" aria-current="page"><h4>DASHBOARD</h4</li>
            </ol>
         </nav>
        <div class="row mb-5">
          <div class="col-lg-8">
            <div class="row text-center">
                 {% for post in job_admin_name.user.all %}
                 <div class="col-lg-6 mb-5"><a href=""><img class="img-fluid mb-4" src="img/listing-tnumbnail-4.jpg" alt=""/></a>

                 <div class="custom-card" >
                        <ul class="list-inline small text-uppercase mb-0">
                            <li class="list-inline-item mr-0 text-gray align-middle">By </li>
                            <li class="list-inline-item align-middle mr-0"><a class="font-weight-bold reset-anchor" href="#">{{post.job_admin_name.user.username}}</a></li>
                            <li class="list-inline-item text-gray align-middle mr-0">|</li>
                            <li class="list-inline-item text-gray align-middle">{{post.post_date | timesince }}</li>
                        </ul>
                            <h3 class="h4 mt-2"> <a class="reset-anchor" href="post.html">{{post.job_title}}</a></h3><a class="reset-anchor text-gray text-uppercase small mb-2 d-block" href="#">Travel guide</a>
                            <p class="text-small mb-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p><a class="btn btn-link" href="index.html"></a>
                                
                            <div class="mb-5 text-center"><img class="mb-3 rounded-circle img-thumbnail shadow-sm" src="" alt="" width="110">

                                  <h3 class="h4"></h3>
                                    <li class="list-inline-item"><a class="reset-anchor" href="#"><button class=" btn btn-primary fab fa-view">View</button></a></li>
                                    <li class="list-inline-item"><a class="reset-anchor" href="#"><button class=" btn btn-primary fab fa-edit">Edit</button></a></li>
                                    <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    </ul>
                            </div>
                   </div>
                 </div>
                   {% endfor %}


             </div>
            <!-- Listing navigation -->
            <div class="p-4 bg-light mb-5">
              <div class="row">
                {% if queryset.has_previous %}
                <div class="col-sm-6 text-center text-sm-left mb-2 mb-sm-0"><a class="btn btn-outline-secondary btn-sm" href="?{{ page_request_var }}={{ queryset.previouse_page_number }}"><i class="fas fa-angle-left mr-2"></i>Prev posts</a></div>
                {% endif %}
              
                {% if queryset.has_next %}
                <div class="col-sm-6 text-center text-sm-right text-right"><a class="btn btn-outline-secondary btn-sm" href="?{{ page_request_var }}={{ queryset.next_page_number }}">Next posts<i class="fas fa-angle-right ml-2"></i></a></div>
                {% endif %}
              </div>
            </div>
          </div>

          <!-- Sidebar -->

         
        </div>
      </div>
    </section>

{% endblock %}
