{% extends 'base.html' %}
{% load static %}


{% block content %}


{% comment %}  {% endcomment %}

{% comment %} header banner category {% endcomment %}
{% include 'travel/included/headerbanner.html' %}

 {% comment %} the travel skyscanner flight booking  {% endcomment %}
 {% include 'travel/included/skyscanerfreewidget.html' %}

{% comment %} service gategory {% endcomment %}
{% include 'travel/included/servicegategory.html' %}


  {% comment %} {% include 'travel/servicecategory.html' %} {% endcomment %}


    {% comment %} travel destination {% endcomment %}
    <section class="pt-5">
      <div class="container  text-center">
        <h1>Featured Destinations</h1>
        <p class="mb-0">Check out these amaizing holiday destinations</p>
      </div>
      <div class="container">
        {% include 'travel/included/viator-featured-cities.html' %}
      </div>
        
    </section>
  

    <hr>
    <!-- Divider Section -->
    <section class="py-5">
      <div class="container py-4 flight-custom-card">
        <!-- Home listing -->
        <div class="row align-items-stretch bg-full-left">
          <div class="col-lg-6 pr-lg-0 order-2 order-lg-1">
            <div class="h-100 bg-light d-flex align-items-center">
              <div class="py-5 pr-4 pl-3 pl-lg-0">
                <p class="text-primary font-weight-bold small text-uppercase mb-2">About</p>
                <h3 class="h4"> <a class="text-reset" href="post.html">Presic Travels and Recruitment services</a></h3>
                <p class="text-muted text-small mb-3">  </p>
                <p class="text-muted text-small mb-3"> </p>
                <ul class="list-inline small text-uppercase mb-0">
                  <li class="list-inline-item align-middle"><img class="rounded-circle shadow-sm" src="img/person-1.jpg" alt="" width="30"/></li>
                  <li class="list-inline-item mr-0 text-gray align-middle"> </li>
                  <li class="list-inline-item align-middle mr-0"><a class="font-weight-bold reset-anchor" href="#"></a></li>
 
                </ul>
                <br>
                <br>
                {% comment %} form {% endcomment %}
                <p class="text-primary font-weight-bold small text-uppercase mb-2">Send us a message</p>
                   
                  {% include 'travel/included/contact-form.html' %}
                 {% comment %} form end {% endcomment %}
                
              </div>
            </div>
          </div>
          <div class="col-lg-6 pl-lg-0 order-1 order-lg-2"><a class="d-block h-100 bg-center bg-cover" href="#" style="background: url({% static 'travelsite/img/travel-home-divider.jpg' %})"></a></div>
        </div>
      </div>
    </section>
    <br>
    <hr>
   {% comment %} in dubai tours and visa service {% endcomment %}
   {% include 'travel/included/indubai-tours-visa.html' %}

    <!-- Job section-->
   
    <!-- blog section-->

    
    <br>
    <hr>
     <section class="py-5 bg-light">
     {% include 'travel/included/traveltools.html' %}
    </section>

    <section  class="py-5">
      {% if new_signup %}
      {% else %}
      {% include 'travel/included/subscribed.html' %}
    </section>
    
    
    {% endif %}

      {% include 'travel/included/topcategory.html' %}
    
    
{% endblock %}