
{% extends 'base.html' %}
{% load static %}



{% block content %}


<section class="hero bg-center bg-cover" style="background: url({% static 'travelsite/img/hero-banner.jpg' %})">
      <div class="dark-overlay py-5">
        <div class="overlay-content">
          <div class="container py-5 text-white text-center">
            <h1>Popular and amaizing travel destinations</h1>
            <p></p>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog listing -->
    <section class="pt-5">
       {% include 'travel/included/skyscanerfreewidget.html' %}
        
    </section>
          <!-- Sidebar -->

        {% include 'travel/included/side-nav.html' %}


            <!-- Instagram widget -->
            <div class="mb-5">
              {% comment %} <h3 class="h5">Follow on Instagram</h3>
              <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
              <div class="row px-3">
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-1.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-2.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-3.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-4.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-5.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-6.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-8.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-1.jpg' %}" alt=""></div></a></div>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
