
{% extends 'base.html' %}
{% load static %}


{% block banner-section %}
<section class="hero bg-center bg-cover" style="background: url({% static 'travelsite/img/hero-banner.jpg' %})">
  <div class="dark-overlay py-5">
    <div class="overlay-content">
      <div class="container py-5 text-white text-center">
        <h1>Visa Service Center</h1>
        <p></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block content %}


    <!-- Blog listing -->
    <section class="pt-5">
      <div class="container pt-5">
       
               <div class="row mb-5">
          <div class="col-lg-10">
            <header class="text-center ">
              <h4> Prices for Dubai Express Tourist Visa + Medical Insurance (COVID)</h4>
            </header>
           
            <div class="py-4 ">              
                <div class="row text-center ">
                 
                  {% for post in queryset %}
                  <div class="col-lg-5 col-md-10">
                    <div class='custom-card'>
                      <ul class="list-inline small text-uppercase mb-0">
                        {% comment %} <li class="list-inline-item mr-0 text-gray align-middle">By </li> {% endcomment %}
                        <li class="list-inline-item align-middle mr-0"><a class="font-weight-bold reset-anchor" href="#">{{post.price}} AED</a></li>
                        
                        <li class="list-inline-item text-gray align-middle mr-0">|</li>
                        <li class="list-inline-item text-gray align-middle">{{post.contry}}</li>
                      </ul>
                        <a class="text-reset text-decoration-none" href="">
                        <img class="mb-4" src="{% static 'travelsite/img/bag' %}" alt="" height="150">
                        <h3 class="h5">{{post.name}}</h3>
                        <p class="text-small text-muted">{{post.shotend_desc}}</p></a>
                        <div>
                          {% comment %} <a href="{{post.get_absolute_url}}"><button>View Job</button></a> {% endcomment %}
                        </div>
                      </div>
                  </div>
                  {% endfor %}
                </div> 
              </div>
            
              <!-- contact us -->
              <div class=" container text-center">

                <h4>contact us for your Visa</h4>
                <div class="col-lg-4  d-lg-block container ">
                  <ul class="list-inline mb-0 small ">
                    {% comment %} <li class="list-inline-item ml-auto mt-0 mb-0 p-0 "><a class="reset-anchor" href="{% url 'travel:home' %}"><img src="{% static 'travelsite/img/presic_logo2.png' %}"></a></li> {% endcomment %}
    
                    <li class="list-inline-item "><a class="reset-anchor text-center " href="mailto:presictravels@gmail.com"><i class="fab fa-email"></i><button class='btn btn-primary text-white'> presictravels@gmail.com</button></a></li>
                    <li class="list-inline-item"><a class="reset-anchor btn btn-primary text-white" href="https://www.facebook.com/presictravels"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a class="reset-anchor btn btn-primary text-white" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a class="reset-anchor btn btn-primary text-white" href="https://api.whatsapp.com/send?phone=971586537619"><i class="fab fa-whatsapp"></i></a></li>
                    {% comment %} <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-instagram"></i></a></li> {% endcomment %}
                    {% comment %} <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a></li> {% endcomment %}
                    {% comment %} <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-youtube"></i></a></li>  {% endcomment %}
                    {% comment %} <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-vimeo-v"></i></a></li> {% endcomment %}
                  </ul>
                </div>
              </div>
              
    
            
            <!-- Listing navigation -->
            <div class="p-4 bg-light mb-5">
              <div class="row">
                {% if queryset.has_previous %}
                <div class="col-sm-6 text-center text-sm-left mb-2 mb-sm-0"><a class="btn btn-outline-secondary btn-sm" href="?{{ page_request_var }}={{ queryset.previouse_page_number }}"><i class="fas fa-angle-left mr-2"></i>Prev posts</a></div>
                {% endif %}
              
                {% if queryset.has_next %}
                <div class="col-sm-6 text-center text-sm-right text-right"><a class="btn btn-outline-secondary btn-sm" href="?{{ page_request_var }}={{ queryset.next_page_number }}">Next posts<i class="fas fa-angle-right ml-2"></i></a></div>
                {% endif %}
              </div>
            </div>
          </div>
          <!-- Sidebar -->

        {% comment %} {% include 'travel/included/side-nav.html' %} {% endcomment %}


            <!-- Instagram widget -->
            <div class="mb-5">
              {% comment %} <h3 class="h5">Follow on Instagram</h3>
              <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
              <div class="row px-3">
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-1.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-2.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-3.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-4.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-5.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-6.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-8.jpg' %}" alt=""></div></a></div>
                <div class="col-3 px-0"><a class="instagram-item overlay-hover-dark-sm d-block w-100" href="#">
                    <div class="overlay-content"><img class="img-fluid" src="{% static 'travelsite/img/instagram-1.jpg' %}" alt=""></div></a></div>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
