/* your styles go here */



.mybg-dark {
    background-color: #008037 !important;
}

.btn-dark {
    color: #fff;
    background-color: #1e7e34;
    border-color: #000;
}



.custom-card{
    margin-top:80px;
    background:  #fff;
    display: flex;
    flex-direction: column;
    padding:  16px;
    box-shadow:  0 4px 8px   rgba(0, 0, 0.3);
    position:   flexed;
    /* top:   50%; */
    transform:  translateY(-20%);

}
