{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

{{ form.media }}

<div class='container justify-content-center mb-5 mt-5'>
<form method = "POST" action="." enctype="multipart/form-data">
  {% csrf_token %}
   {% comment %} {{form.as_p|as_crispy_field}} {% endcomment %}
   {{form|crispy}}


  <button btn btn-primary type='submit'>submit</button>
  
  {% if err_msg %}
      <div class="alert alert-danger" role="alert">
        {{err_msg}}
    </div>
    {% else %}

    <div class="alert alert-success" role="alert">
        Thanks for sharing
      </div>
      
    {% endif %}

     
  </form>
</div>


{% endblock %}