{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

{{ form.media }}

<div class='container justify-content-center mb-5 mt-5'>

<div class='mt-5 mb-5 text-center'  >
    <h3> Post Your Article</h3>
    </br>
    <hr>
 </div>
<form method = "POST" action="." enctype="multipart/form-data">
  {% csrf_token %}
   {% comment %} {{form.as_p|as_crispy_field}} {% endcomment %}
   {{form|crispy}}


  <button class="btn btn-primary" style="width:100%; margin-top:50px;" type='submit'>submit</button>
        <div class="mb-5 text-center"><img class="mb-3 rounded-circle img-thumbnail shadow-sm" src="" alt="" width="110">
              <h3 class="h4"></h3>
                <li class="list-inline-item"><a class="reset-anchor" href="#"><button class=" btn btn-primary fab fa-new">Create New</button></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#"><button class=" btn btn-primary fab fa-create">Edit Post</button></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#"><button class=" btn btn-primary fab fa-delete">Delete Post</button></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-vimeo-v"></i></a></li>
              </ul>
            </div>
  {% if err_msg %}
      <div class="alert alert-danger" role="alert">
        {{err_msg}}
      </div>
    {% else %}

  {% endif %}

    {% comment %} <div class="alert alert-success" role="alert">
        Thanks for sharing
      </div>
      
    {% endif %} {% endcomment %}

     
  </form>
</div>


{% endblock %}